<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title size="large">
      Configuración
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>IP de los dispositivos</ion-list-header>
    <ion-item lines="full" [counter]="true">
      <ion-label position="fixed">IP Puerta 1</ion-label>
      <ion-input maxlength="15" placeholder="ej. 192.168.1.2" value="{{ipPuerta1}}"
        [(ngModel)]="ipPuerta1"></ion-input>
      <ion-button color="success" shape="round" (click)="checkIP(ipPuerta1,'ippuerta1')">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="full" [counter]="true">
      <ion-label position="fixed">IP Puerta 2</ion-label>
      <ion-input maxlength="15" placeholder="ej. 192.168.1.3" value="{{ipPuerta2}}"
        [(ngModel)]="ipPuerta2"></ion-input>
      <ion-button color="success" shape="round" (click)="checkIP(ipPuerta2,'ippuerta2')">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="full" [counter]="true">
      <ion-label position="fixed">IP Puerta 3</ion-label>
      <ion-input maxlength="15" placeholder="ej. 192.168.1.4" value="{{ipPuerta3}}"
        [(ngModel)]="ipPuerta3"></ion-input>
      <ion-button color="success" shape="round" (click)="checkIP(ipPuerta3,'ippuerta3')">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="full" [counter]="true">
      <ion-label position="fixed">IP Puerta 4</ion-label>
      <ion-input maxlength="15" placeholder="ej. 192.168.1.5" value="{{ipPuerta4}}"
        [(ngModel)]="ipPuerta4"></ion-input>
      <ion-button color="success" shape="round" (click)="checkIP(ipPuerta4,'ippuerta4')">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
