<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"><ion-list>
  <ion-list-header><h1>Puertas</h1></ion-list-header>
  <ion-item>
    <ion-label position="fixed">IP Puerta 1</ion-label>
    <ion-input placeholder="ej. 192.168.1.2" value="{{ipPuerta1}}" [(ngModel)]="ipPuerta1"></ion-input>
    <ion-button color="success" shape="round" (click)="saveIP1(ipPuerta1)"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">IP Puerta 2</ion-label>
    <ion-input placeholder="ej. 192.168.1.3" value="{{ipPuerta2}}" [(ngModel)]="ipPuerta2"></ion-input>
    <ion-button color="success" shape="round" (click)="saveIP1(ipPuerta2)"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">IP Puerta 3</ion-label>
    <ion-input placeholder="ej. 192.168.1.4" value="{{ipPuerta3}}" [(ngModel)]="ipPuerta3"></ion-input>
    <ion-button color="success" shape="round" (click)="saveIP1(ipPuerta3)"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">IP Puerta 4</ion-label>
    <ion-input placeholder="ej. 192.168.1.5" value="{{ipPuerta4}}" [(ngModel)]="ipPuerta4"></ion-input>
    <ion-button color="success" shape="round" (click)="saveIP1(ipPuerta4)"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
  </ion-item>
</ion-list>
</ion-content>
