<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title size="large">
      Configuración
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-marging">
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="changeMode()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-text color="primary">
        <h4>
          <ion-label class="ion-text-wrap">Para cambiar la configuración de los dispositos
            ingresa la clave de seguridad.
          </ion-label>
        </h4>
      </ion-text>
    </ion-item>
    <ion-item lines="full" [counter]="true">
      <ion-label position="stacked">Clave de seguridad</ion-label>
      <ion-input maxlength="15" type="password" placeholder="password" value="{{passwordCh}}" [(ngModel)]="passwordCh">
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="success" (click)="checkPassword()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
