<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title size="large">
      Inicio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-text-center" style="height: 100%" >
      <ion-col>
        <div>
          <ion-card text-center>
            <ion-card-header>
              <ion-card-title>Puerta 1</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button shape="round" size="large" color="success" (click)="abrirESP1()"><ion-icon name="lock-open-outline"></ion-icon></ion-button>
              <ion-button shape="round" size="large" color="danger" (click)="cerrarESP1()"><ion-icon name="lock-closed-outline"></ion-icon></ion-button>
              <ion-button shape="round" size="large" color="primary" (click)="abrirCerrarESP1()"><ion-icon name="git-compare-outline"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Puerta 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button shape="round" size="large" color="success" (click)="abrirESP2()"><ion-icon name="lock-open-outline"></ion-icon></ion-button>
            <ion-button shape="round" size="large" color="danger" (click)="cerrarESP2()"><ion-icon name="lock-closed-outline"></ion-icon></ion-button>
            <ion-button shape="round" size="large" color="primary" (click)="abrirCerrarESP2()"><ion-icon name="git-compare-outline"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center" >
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Puerta 3</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button shape="round" fill="outline" size="large" color="success" (click)="abrirESP3()"><ion-icon name="lock-open-outline"></ion-icon></ion-button>
              <ion-button shape="round" fill="outline" size="large" color="danger" (click)="cerrarESP3()"><ion-icon name="lock-closed-outline"></ion-icon></ion-button>
              <ion-button shape="round" fill="outline" size="large" color="primary" (click)="abrirCerrarESP3()"><ion-icon name="git-compare-outline"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Puerta 4</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button shape="round" fill="outline" size="large" color="success" (click)="abrirESP4()"><ion-icon name="lock-open-outline"></ion-icon></ion-button>
            <ion-button shape="round" fill="outline" size="large" color="danger" (click)="cerrarESP4()"><ion-icon name="lock-closed-outline"></ion-icon></ion-button>
            <ion-button shape="round" fill="outline" size="large" color="primary" (click)="abrirCerrarESP4()"><ion-icon name="git-compare-outline"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
